header {
    background-color: #333;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .appName{
      font-size: 24px;
  }  
  
  nav {
    display: flex;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }