.sign-in-sign-up-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 350px;
    border: 5px solid #000000;
    border-radius: 45px;
    padding: 10px;
    background-color: #8287bc;
    margin: 0 auto;
    color: azure;
  }


  .form-container form input {
    display: block;
    margin-bottom: 10px;
  }
  
  .switch-form {
    margin-top: 20px;
  }
  
  .switch-form p {
    font-size: 14px;
    text-align: center;
  }
  
  .switch-form span {
    font-weight: bold;
    color: #007bff;
    cursor: pointer;
  }
  
  .switch-form span:hover {
    text-decoration: underline;
  }
  